# Environment variables
.env
client/.env
server/.env

# React dependencies
node_modules/
client/node_modules/

# Python virtual environment
server/venv/
voiceshop-server/venv/

# Python cache
__pycache__/
*.pyc

# Build output
dist/
client/dist/